@import "../../../index.scss";

.chipBox {
    @include max-wight(100%, 100%);
    @include wight(150px, 40px);
    @include flex-center;
    overflow: hidden;

    justify-content: flex-end;

    animation: chipLoaderAnimation 2s ease 0s infinite normal forwards;

    .chipWave {
        @include transition-anim;
        @include wight(100%, 100%);

        border-radius: $global-border-radius - 5;
        background-color: $color;
        opacity: 0.5;

        animation: chipLoaderAnimationWidth 1s ease 0.3s infinite normal forwards;
    }
}

@keyframes chipLoaderAnimation {
    0% {
        justify-content: flex-end;
    }

    50% {
        justify-content: flex-start;
    }

    100% {
        justify-content: flex-end;
    }
}

@keyframes chipLoaderAnimationWidth {
    0% {
        width: 100%;
    }

    50% {
        width: 1%;
    }

    100% {
        width: 100%;
    }
}
