@import "./theme/theme.scss";

// # [VARIABLES]
$global-border-radius: 10px;
$box-shadow-values: 0px 10px 5px -13px;

// # [MIXINS]

@mixin wight($w, $h) {
	width: $w;
	height: $h;
}

@mixin mar-pad($m, $p) {
	margin: $m;
	padding: $p;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin uni-select($toggle: true) {
	@if $toggle {
		user-select: text; // Standard syntax
		-ms-user-select: text; // IE 10 and IE 11
		-webkit-user-select: text; // Safari
	} @else {
		user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
	}
}

@mixin shadow {
	box-shadow: $box-shadow-values $shadow-color;
	-webkit-box-shadow: $box-shadow-values $shadow-color;
	-moz-box-shadow: $box-shadow-values $shadow-color;
}

@mixin focus-style {
	&:focus,
	&:focus-within {
		outline: none;
	}

	&:focus-visible {
		outline: 3px solid $primary;
		outline-offset: 3px;
		transition: none;
	}
}

// # [COMPONENTS]

// --[ BUTTON ]--

.primary {
	background-color: $primary;
}

.secondary {
	background-color: $secondary;
}

.success {
	background-color: $success;
}

.info {
	background-color: $info;
}

.warn {
	background-color: $warn;
}

.danger {
	background-color: $danger;
}

// # [ROOT]

html,
body {
	@include uni-select(false);
	@include mar-pad(0, 0);
	@include wight(100vw, 100vh);

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	color: $color;
	background-color: $background-color;
	overflow: hidden;
}

a {
	@include focus-style();

	text-decoration: none;
	font-weight: bold;
	color: $color;

	&:hover {
		color: $primary;
		filter: brightness(95%);
	}

	&:active {
		color: $primary;
		filter: brightness(110%);
	}
}

// # [SCROLLBARS]

$thumb: $tone1;
$track: $background-color;

/* Chrome, Edge, Firefox, and Safari */
* {
	scrollbar-width: thin;
	scrollbar-color: $thumb $track;

	&::-webkit-scrollbar {
		width: 15px;
	}
	&::-webkit-scrollbar-track {
		background: $track;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $thumb;
		border-radius: 10px;
		border: 3px solid $track;
	}
	&::-webkit-scrollbar-corner {
		background-color: $thumb;
	}
}
