@import "./theme/theme.scss";

@font-face {
	font-family: "Segoe UI";
	src:
		url("./assets/font-packages/SegoeUI-BoldItalic.woff2") format("woff2"),
		url("./assets/font-packages/SegoeUI-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("./assets/font-packages/SegoeUI-Italic.woff2") format("woff2"),
		url("./assets/font-packages/SegoeUI-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("./assets/font-packages/SegoeUI-Bold.woff2") format("woff2"),
		url("./assets/font-packages/SegoeUI-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("./assets/font-packages/SegoeUI.woff2") format("woff2"),
		url("./assets/font-packages/SegoeUI.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-Black.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-BlackItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-Bold.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-Italic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-ExtraLight.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-ExtraBold.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-BoldItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-Light.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-LightItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-Medium.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-MediumItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-Thin.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-ThinItalic.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-SemiBold.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font-packages/Poppins-Regular.woff2') format('woff2'),
        url('./assets/font-packages/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// # [VARIABLES]

// --[ GLOBAL ]--
$global-border-radius: 12px;
$box-shadow-values: 0px 10px 5px -13px;

// --[ 12TH GRID ]--
$e-grid-6: 1315px;
$e-grid-5: 1095px;
$e-grid-4: 875px;
$e-grid-3: 650px;
$e-grid-2: 425px;
$e-grid-1: 205px;

$i-grid-1: 96px;
$i-grid-2: 207px;
$i-grid-3: 318px;
$i-grid-4: 429px;
$i-grid-5: 538px;
$i-grid-6: 649px;
$i-grid-7: 760px;
$i-grid-8: 871px;
$i-grid-9: 980px;
$i-grid-10: 1092px;
$i-grid-11: 1203px;
$i-grid-12: 1315px;

$a-e-grid-x: 85.6%;
$a-e-grid-6: 100%;
$a-e-grid-5: 83.1%;
$a-e-grid-4: 66.4%;
$a-e-grid-3: 49.3%;
$a-e-grid-2: 33%;
$a-e-grid-1: 15.6%;

// FIXME:
$a-i-grid-1: 10%;
$a-i-grid-2: 10%;
$a-i-grid-3: 10%;
$a-i-grid-4: 10%;
$a-i-grid-5: 10%;
$a-i-grid-6: 10%;
$a-i-grid-7: 10%;
$a-i-grid-8: 10%;
$a-i-grid-9: 10%;
$a-i-grid-10: 10%;
$a-i-grid-11: 10%;
$a-i-grid-12: 10%;

$grid-gap: 12px;
$grid-a-gap: 16px;

// # [GENERAL MIXINS]

@mixin wight($w, $h) {
	width: $w;
	height: $h;
}

@mixin max-wight($w, $h) {
	max-width: $w;
	max-height: $h;
}

@mixin min-wight($w, $h) {
	min-width: $w;
	min-height: $h;
}

@mixin mar-pad($m, $p) {
	margin: $m;
	padding: $p;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin uni-select($toggle: true) {
	@if $toggle {
		user-select: text; // Standard syntax
		-ms-user-select: text; // IE 10 and IE 11
		-webkit-user-select: text; // Safari
	} @else {
		user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
	}
}

@mixin shadow {
	box-shadow: $box-shadow-values $shadow-color;
	-webkit-box-shadow: $box-shadow-values $shadow-color;
	-moz-box-shadow: $box-shadow-values $shadow-color;
}

@mixin focus-style {
	&:focus,
	&:focus-within {
		outline: none;
	}

	&:focus-visible {
		outline: 3px solid $primary;
		outline-offset: 3px;
		transition: none;
		border-radius: $global-border-radius;
		opacity: 1;
		-moz-outline-radius: $global-border-radius;

		&::after {
			fill: $primary;
		}
	}
}

@mixin transition-anim {
	transition: 0.3s;
}

@mixin card {
	@include shadow;
	// @include mar-pad(15px, 15px);
	// @include focus-style;
	@include transition-anim;

	// @include wight(20px, 38px);
	// display: flex;

	background-color: $background-accent;
	border-radius: $global-border-radius;
}

// # [ALIGNMENT MIXINS]

@mixin ext-container {
	min-width: 0px;
	max-width: $e-grid-6;
	width: $e-grid-6;
}
@mixin ext-grid-5 {
	min-width: 0px;
	max-width: $e-grid-5;
	width: $e-grid-5;
}
@mixin ext-grid-4 {
	min-width: 0px;
	max-width: $e-grid-4;
	width: $e-grid-4;
}
@mixin ext-grid-3 {
	min-width: 0px;
	max-width: $e-grid-3;
	width: $e-grid-3;
}
@mixin ext-grid-2 {
	min-width: 0px;
	max-width: $e-grid-2;
	width: $e-grid-2;
}
@mixin ext-grid-1 {
	min-width: 0px;
	max-width: $e-grid-1;
	width: $e-grid-1;
}

@mixin in-grid-1 {
	min-width: 0px;
	max-width: $i-grid-1;
	width: $i-grid-1;
}
@mixin in-grid-2 {
	min-width: 0px;
	max-width: $i-grid-2;
	width: $i-grid-2;
}
@mixin in-grid-3 {
	min-width: 0px;
	max-width: $i-grid-3;
	width: $i-grid-3;
}
@mixin in-grid-4 {
	min-width: 0px;
	max-width: $i-grid-4;
	width: $i-grid-4;
}
@mixin in-grid-5 {
	min-width: 0px;
	max-width: $i-grid-5;
	width: $i-grid-5;
}
@mixin in-grid-6 {
	min-width: 0px;
	max-width: $i-grid-6;
	width: $i-grid-6;
}
@mixin in-grid-7 {
	min-width: 0px;
	max-width: $i-grid-7;
	width: $i-grid-7;
}
@mixin in-grid-8 {
	min-width: 0px;
	max-width: $i-grid-8;
	width: $i-grid-8;
}
@mixin in-grid-9 {
	min-width: 0px;
	max-width: $i-grid-9;
	width: $i-grid-9;
}
@mixin in-grid-10 {
	min-width: 0px;
	max-width: $i-grid-10;
	width: $i-grid-10;
}
@mixin in-grid-11 {
	min-width: 0px;
	max-width: $i-grid-11;
	width: $i-grid-11;
}
@mixin in-grid-12 {
	min-width: 0px;
	max-width: $i-grid-12;
	width: $i-grid-12;
}

// #

@mixin ext-a-container {
	min-width: 0px;
	max-width: $a-e-grid-x;
	width: 100%;
	margin: 0 auto;
}
@mixin ext-a-grid-6 {
	min-width: 0px;
	max-width: $a-e-grid-6;
	// width: $a-e-grid-6;
	width: 100%;
}
@mixin ext-a-grid-5 {
	min-width: 0px;
	max-width: $a-e-grid-5;
	// width: $a-e-grid-5;
	width: 100%;
}
@mixin ext-a-grid-4 {
	min-width: 0px;
	max-width: $a-e-grid-4;
	// width: $a-e-grid-4;
	width: 100%;
}
@mixin ext-a-grid-3 {
	min-width: 0px;
	max-width: $a-e-grid-3;
	// width: $a-e-grid-3;
	width: 100%;
}
@mixin ext-a-grid-2 {
	min-width: 0px;
	max-width: $a-e-grid-2;
	// width: $a-e-grid-2;
	width: 100%;
}
@mixin ext-a-grid-1 {
	min-width: 0px;
	max-width: $a-e-grid-1;
	// width: $a-e-grid-1;
	width: 100%;
}

@mixin in-a-grid-1 {
	min-width: 0px;
	max-width: $a-i-grid-1;
	// width: $a-i-grid-1;
	width: 100%;
}
@mixin in-a-grid-2 {
	min-width: 0px;
	max-width: $a-i-grid-2;
	// width: $a-i-grid-2;
	width: 100%;
}
@mixin in-a-grid-3 {
	min-width: 0px;
	max-width: $a-i-grid-3;
	// width: $a-i-grid-3;
	width: 100%;
}
@mixin in-a-grid-4 {
	min-width: 0px;
	max-width: $a-i-grid-4;
	// width: $a-i-grid-4;
	width: 100%;
}
@mixin in-a-grid-5 {
	min-width: 0px;
	max-width: $a-i-grid-5;
	// width: $a-i-grid-5;
	width: 100%;
}
@mixin in-a-grid-6 {
	min-width: 0px;
	max-width: $a-i-grid-6;
	// width: $a-i-grid-6;
	width: 100%;
}
@mixin in-a-grid-7 {
	min-width: 0px;
	max-width: $a-i-grid-7;
	// width: $a-i-grid-7;
	width: 100%;
}
@mixin in-a-grid-8 {
	min-width: 0px;
	max-width: $a-i-grid-8;
	// width: $a-i-grid-8;
	width: 100%;
}
@mixin in-a-grid-9 {
	min-width: 0px;
	max-width: $a-i-grid-9;
	// width: $a-i-grid-9;
	width: 100%;
}
@mixin in-a-grid-10 {
	min-width: 0px;
	max-width: $a-i-grid-10;
	// width: $a-i-grid-10;
	width: 100%;
}
@mixin in-a-grid-11 {
	min-width: 0px;
	max-width: $a-i-grid-11;
	// width: $a-i-grid-11;
	width: 100%;
}
@mixin in-a-grid-12 {
	min-width: 0px;
	max-width: $a-i-grid-12;
	// width: $a-i-grid-12;
	width: 100%;
}

// # [COMPONENT BOOTSTRAP]

// --[ BUTTON ]--

.primary {
	background-color: $primary;
}

.secondary {
	background-color: $secondary;
}

.success {
	background-color: $success;
}

.info {
	background-color: $info;
}

.warn {
	background-color: $warn;
}

.danger {
	background-color: $danger;
}

// --[ CARD ]--

.card {
	@include card();
}

// # [ROOT]

html,
body {
	@include uni-select(false);
	@include mar-pad(0, 0);
	@include wight(100vw, 100vh);

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	// font-size: small;
	color: $color;
	background-color: $background-color;
	overflow: hidden;
}

a {
	@include focus-style();
	@include transition-anim;

	text-decoration: none;
	font-weight: bold;
	color: $color;

	&:hover {
		color: $primary;
		filter: brightness(95%);
	}

	&:active {
		color: $primary;
		filter: brightness(110%);
	}
}

svg {
	fill: $color;
}

// Interface
.snap {
	scroll-snap-align: center;
}

// # [SCROLLBARS]

$_thumb: $tone1;
$_track: $background-color;

/* Chrome, Edge, Firefox, and Safari */
* {
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		width: 15px;
		width: 0px;
	}
	&::-webkit-scrollbar-track {
		background: $_track;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $_thumb;
		border-radius: 10px;
		border: 3px solid $_track;
	}
	&::-webkit-scrollbar-corner {
		background-color: $_thumb;
	}
}
