@import "../../index.scss";

.interfaceTerms {
	@include wight(100vw, 100vh);
	display: block;

	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-image: url("../../assets/images/WebV3CommissionPagePrototype.png");
	background: linear-gradient(30deg, #0f182c 0%, #330628 84%, #4b052a 100%);
	overflow-y: scroll;
	overflow-x: hidden;

	scroll-snap-type: unset;
	scroll-snap-stop: unset;

	.navBtn,
	.navContent {
		display: none;
	}
	.navContent {
		backdrop-filter: blur(40px);
	}

	.splash {
		@include wight(100vw, 100vh);
	}

	.container {
		@include ext-a-container;

		margin: 100px auto;
		display: flex;
		align-items: flex-start;

		gap: 15px;

		.spacer {
			@include in-a-grid-1;
		}

		.content {
			@include in-a-grid-7;

			padding: 0 30px;
			padding-bottom: 20px;
			border-radius: $global-border-radius;
			user-select: text;
			background-color: #33394619;
			backdrop-filter: blur(200px);

			p {
				text-wrap: wrap;
			}

			h1,
			h3 {
				@include focus-style;
				@include flex-center;
				@include transition-anim;

				width: max-content;
				cursor: pointer;

				svg {
					@include transition-anim;
					opacity: 0;
				}

				&:hover {
					// color: $primary;

					svg {
						opacity: 1;
						// fill: $primary;
					}
				}

				&:focus {
					svg {
						opacity: 1;
						fill: $primary;
					}
				}
			}

			h1 {
				margin-top: 40px;

				svg {
					transform: translateY(3px);
					width: 24pt;
				}

				&:active {
					filter: brightness(110%);

					svg {
						transform: translateY(3px) translateX(-3px);
					}
				}
			}

			h3 {
				svg {
					transform: translateY(2px);
					width: 12pt;
				}

				&:active {
					filter: brightness(110%);

					svg {
						transform: translateY(2px) translateX(-2px);
					}
				}
			}
		}

		.sidebar {
			@include in-a-grid-2;
			position: relative;
			height: max-content;

			h2 {
				margin-top: 20px;
				margin-bottom: 5px;
			}

			svg {
				// fill: $tone3;
				width: 80px;

				transform: translate(-17px, 0);
			}

			.selected {
				h1,
				h2,
				h3,
				h4 {
					color: $primary;
				}
			}

			.sidebarTitle {
				@include wight(max-content, max-content);
				@include focus-style;
				display: block;
			}

			.subList {
				margin-left: 20px;

				h4 {
					font-weight: 500;
				}
			}

			a {
				font-weight: 500;
			}
		}
	}
	footer {
		@include flex-center;
		@include wight(100vw, 100vh);

		z-index: 9000;
		position: relative;

		text-align: center;

		flex-direction: column;
		background: linear-gradient(30deg, #0f182c 0%, #330628 84%, #4b052a 100%);
		background-color: unset;
		background-position: center;
		background-attachment: fixed;
		gap: 30px;

		.footerHeader {
			display: flex;
			flex-direction: column;
			align-items: center;

			svg {
				width: 140px;
				fill: $tone3;
			}

			.footerText {
				color: $tone3;

				// padding: 20px;
				font-size: small;
				display: flex;
				flex-direction: column;
				align-items: center;

				gap: 5px;

				a {
					color: $tone3;

					&:hover {
						color: $primary;
						fill: $primary;
					}
				}
			}
		}

		.footerHeaderLinks {
			@include flex-center;
			display: flex;
			flex-direction: row;
			gap: 10px;

			a {
				@include flex-center;

				svg {
					@include wight(24px, 24px);
					@include transition-anim;

					fill: $tone3;

					&:hover {
						fill: $color;
					}
				}
			}

			.twitter {
				svg {
					&:active {
						fill: $twitter;
					}
				}
			}
			.kofi {
				svg {
					&:active {
						fill: $kofi;
					}
				}
			}
			.discord {
				svg {
					&:active {
						fill: $discord;
					}
				}
			}
			.instagram {
				svg {
					&:active {
						fill: $instagram;
					}
				}
			}
			.deviant {
				svg {
					&:active {
						fill: $deviant;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 430px) {
		footer {
			background: unset;

			.footerHeader {
				svg {
					width: 130px;
				}

				.footerText {
					font-size: x-small;
				}
			}

			.footerHeaderLinks {
				@include flex-center;
				display: flex;
				flex-direction: row;
				gap: 7px;

				// a {
				//     @include flex-center;

				//     svg {
				//         @include wight(24px, 24px);
				//         @include transition-anim;

				//         fill: $tone3;

				//         &:hover {
				//             fill: $color;
				//         }
				//     }
				// }
			}
		}
	}
}

@media only screen and (max-width: 430px) {
	.interface {
		scroll-snap-type: y proximity;
		scroll-snap-stop: normal;

		.navBtn {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			position: absolute;
			z-index: 10000;
			margin-top: 10px;

			pointer-events: none;

			button {
				pointer-events: all;
				box-shadow: unset;
				-webkit-box-shadow: unset;
				-moz-box-shadow: unset;
				background-color: unset;
			}
		}

		.navContent {
			@include transition-anim;
			@include wight(100%, 100%);
			@include flex-center;

			flex-direction: column;
			justify-content: space-evenly;
			position: absolute;
			z-index: 9900;

			overflow: hidden;

			outline: 2px solid $tone1;
			background-color: #0f182c5b;

			.navSelections {
				@include wight(80%, max-content);
				@include flex-center;
				flex-direction: column;

				gap: 10px;

				button {
					// @include wight(100%, 100%);
					@include flex-center;
					gap: 10px;
					width: 100%;

					svg {
						width: 14px;
					}
				}
			}
		}

		.container {
			flex-direction: column-reverse;

			.content,
			.sidebar {
				max-width: 100%;
				width: 100%;
			}

			.content {
				backdrop-filter: unset;
				background-color: unset;
				padding: 0;
			}
		}
	}
}
