@import "../../../../index.scss";

@mixin pricesPanels {
    display: flex;

    border-radius: $global-border-radius;
    background-color: $background-accent;
}

.PricesWrapper {
    z-index: 9000;
    position: relative;

    margin-top: 1300px;
    height: 100%;

    background-color: $background-color;

    .pricesContainer {
        @include ext-a-container;
        @include flex-center;

        height: 100%;
        position: relative;
        flex-direction: row;

        gap: $grid-a-gap;

        // padding: 10px 0px;

        .priceNavigator {
            @include pricesPanels;
            @include wight(20%, 85%);

            display: flex;
            flex-direction: column;

            
            div {
                outline: 1px solid $tone1;
            }
        }

        .priceViewer {
            @include pricesPanels;
            @include wight(80%, 85%);
        }
    }
}
