.commissionsBody {
    /* background-image: url(/assets/images/Abstract\ Art.jpg);
    background-position: center;
    background-repeat: no-repeat; */
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

p {
    text-indent: 0pt;
    font-size: 10pt;
    color: #797979;
}


/*===[ HEADER ]===*/

.profile {
    color: white;
    background-image: url(/assets/images/Abstract\ Art.jpg);
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 60px 0px 40px 0px;
    width: 55%;
    border-radius: 20px;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: space-between;
}

.profile h1 {
    margin: 0px;
}

.profile h3 {
    margin: 10px;
}

.profileCard {
    display: flex;
    flex-direction: column;
}

.profileCardNav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.profileContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.profileDescription {
    display: flex;
    flex-direction: column;
}

.profileName h1 {
    font-size: 24pt;
    margin-bottom: 6px;
}

.profileSlots {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profileSlots h3 {
    margin: 0px;
}

.profileAvailabilityBar {
    display: flex;
    flex-direction: column;
}

.profileAvailabilityBar h3 {
    margin: 3px 0px;
    font-weight: normal;
    font-size: normal;
}


/*THE FORMATTING THING BAR YES*/

.availabilityBar {
    border-radius: 10px;
    background: #654aff;
    background: linear-gradient(90deg, #654aff 40%, #e1d8ff 40.1%);
    background-color: #c9b9ff;
    padding: 8px;
}

.profileStatusInfo {
    display: flex;
    flex-direction: row;
}

.profileStatusInfo p {
    color: black;
    font-weight: bold;
    font-size: 8pt;
    padding: 2px 5px;
    margin: 13px 2px;
    margin-top: 3px;
}

#profilephoto {
    border-radius: 100%;
    margin-right: 20px;
}

#profileSlots {
    font-size: small;
    font-weight: bold;
    color: black;
    background-color: #ede8ffea;
    padding: 3px 7px;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    transition: 0.3s;
}

#profileSlots:hover {
    background-color: #f1e3ff;
}

#availabilityStatus {
    margin-left: 6px;
}

#psFree,
#psBusy {
    border-radius: 50px;
    background-color: #e1d8ff;
}

#psFree {
    margin-left: 0px;
}

#psBusy {
    color: white;
    background-color: #654aff;
}

#navLinks img {
    filter: invert(100%);
    width: 25px;
    margin: 0px;
    margin-right: 2px;
    margin-left: 2px;
    opacity: 0.7;
    transition: opacity 200ms;
}

#navLinksDisabled img {
    filter: invert(100%);
    width: 25px;
    margin: 0px;
    margin-right: 2px;
    margin-left: 2px;
    opacity: 0.2;
    transition: opacity 200ms;
}

#navLinks img:hover {
    opacity: 1;
}


/*===[ MAIN ]===*/

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.commissionContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
}

.MainContent {
    margin-left: 50px;
    display: grid;
    overflow: auto;
    text-align: left;
}

.tabContent {
    overflow: hidden;
    object-fit: scale-down;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.tabContent img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}


/*tab content carousel*/

.carousel {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.slide {
    inset: 0;
    opacity: 0;
    transition: 1000ms opacity ease-in-out;
    transition-delay: 1000ms;
    position: static;
}

#clicker,
#clicker2 {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#slide2 {
    position: absolute;
    height: 99.45%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}


/*tab content carousel end*/

.bestSellerImg {
    box-shadow: 0px 14px 29px -14px rgba(191, 126, 30, 0.64);
    -webkit-box-shadow: 0px 14px 29px -14px rgba(191, 126, 30, 0.64);
    -moz-box-shadow: 0px 14px 29px -14px rgba(191, 126, 30, 0.64);
}

.bestSellerHeader {
    display: flex;
    align-items: center;
}

#bestsellerTag {
    width: 50px;
    height: 16px;
    border-radius: 0px;
    margin-top: 6px;
    margin-left: 10px;
}

.commissionContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding: 20px;
    color: black;
    background-color: white;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: flex-start;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 26px -9px rgba(0, 43, 84, 0.51);
    -webkit-box-shadow: 0px 10px 26px -9px rgba(0, 43, 84, 0.51);
    -moz-box-shadow: 0px 10px 26px -9px rgba(0, 43, 84, 0.51);
}

.tabSelector {
    margin: 82px 12px 82px 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    background-color: #e7e7e7;
    height: 55%;
    border-radius: 15px;
}

.tablinks {
    color: #838383;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 8px 0px;
    box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0);
    transition: all 200ms;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tablinks:hover {
    color: #3a3a3a;
    background-color: #ffffff;
    box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.tablinks:focus {
    background-color: #ffffff;
    outline: none;
}

.tablinks.active {
    background-color: #ffffff;
}


/*price buttons*/

.artworkBtns {
    padding: 40px 0px;
    padding-top: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.sectionLinks,
.sectionLinks2,
.sectionLinks3,
.sectionLinks4 {
    color: #000000;
    background-color: #e1d8ff;
    border-radius: 10px;
    padding: 12px 23px;
    margin: 0px 2px;
    box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0);
    -webkit-box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0);
    -moz-box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0);
    transition: all 200ms;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: medium;
    z-index: 2;
}

.sectionLinks:hover,
.sectionLinks2:hover,
.sectionLinks3:hover,
.sectionLinks4:hover {
    color: #3a3a3a;
    background-color: #c9b9ff;
    box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0.75);
    -webkit-box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0.75);
    -moz-box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0.75);
}

.sectionLinks:focus,
.sectionLinks2:focus,
.sectionLinks3:focus,
.sectionLinks4:focus {
    background-color: #f0ebff;
    outline: none;
}

.sectionLinks.active,
.sectionLinks2.active,
.sectionLinks3.active,
.sectionLinks4.active {
    background-color: #654aff;
    color: white;
}

.sectionLinks.active:focus,
.sectionLinks2.active:focus,
.sectionLinks3.active:focus,
.sectionLinks4.active:focus {
    background-color: #7f51ff;
}

#btnDisable {
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(124, 124, 124);
    background-color: #cacaca;
}

#topChosen {
    background-color: #f5f2eb;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(236, 220, 207);
}

#topChosen:hover,
#topChosen:focus {
    color: rgb(57, 29, 0);
    background-color: #fffbeb;
    background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 100%);
    animation: topActiveReverse 0.1s;
    border-color: rgb(255, 200, 106);
}

#topChosen.active {
    background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 100%);
    color: rgb(57, 29, 0);
}

#topChosen:active {
    color: rgb(179, 131, 0);
    background: rgb(255, 254, 244);
    background: linear-gradient(135deg, rgba(255, 254, 244, 1) 0%, rgba(255, 225, 130, 1) 100%);
    box-shadow: 0px 7px 22px -13px rgba(183, 122, 0, 0.75);
    -webkit-box-shadow: 0px 7px 22px -13px rgba(183, 122, 0, 0.75);
    -moz-box-shadow: 0px 7px 22px -13px rgba(183, 122, 0, 0.75);
    z-index: 2;
    animation: topActive 0.1s;
}

@keyframes topActive {
    0% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 100%);
    }
    10% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 100%);
    }
    20% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 70%, rgba(255, 244, 205, 1) 100%);
    }
    30% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 70%, rgba(255, 244, 205, 1) 100%);
    }
    40% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 60%, rgba(255, 241, 193, 1) 100%);
    }
    50% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 50%, rgba(255, 225, 130, 1) 100%);
    }
    60% {
        background: rgb(255, 237, 178);
        background: linear-gradient(135deg, rgba(255, 237, 178, 1) 0%, rgba(255, 254, 244, 1) 40%, rgba(255, 225, 130, 1) 100%);
    }
    70% {
        background: rgb(255, 241, 194);
        background: linear-gradient(135deg, rgba(255, 241, 194, 1) 0%, rgba(255, 254, 244, 1) 30%, rgba(255, 225, 130, 1) 100%);
    }
    80% {
        background: rgb(255, 241, 194);
        background: linear-gradient(135deg, rgba(255, 241, 194, 1) 0%, rgba(255, 254, 244, 1) 30%, rgba(255, 225, 130, 1) 100%);
    }
    90% {
        background: rgb(255, 254, 244);
        background: linear-gradient(135deg, rgba(255, 254, 244, 1) 0%, rgba(255, 225, 130, 1) 100%);
    }
    100% {
        background: rgb(255, 254, 244);
        background: linear-gradient(135deg, rgba(255, 254, 244, 1) 0%, rgba(255, 225, 130, 1) 100%);
    }
}

@keyframes topActiveReverse {
    100% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 100%);
    }
    90% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 100%);
    }
    80% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 70%, rgba(255, 244, 205, 1) 100%);
    }
    70% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 70%, rgba(255, 244, 205, 1) 100%);
    }
    60% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 60%, rgba(255, 241, 193, 1) 100%);
    }
    50% {
        background: rgb(255, 225, 130);
        background: linear-gradient(135deg, rgba(255, 225, 130, 1) 0%, rgba(255, 254, 244, 1) 50%, rgba(255, 225, 130, 1) 100%);
    }
    40% {
        background: rgb(255, 237, 178);
        background: linear-gradient(135deg, rgba(255, 237, 178, 1) 0%, rgba(255, 254, 244, 1) 40%, rgba(255, 225, 130, 1) 100%);
    }
    30% {
        background: rgb(255, 241, 194);
        background: linear-gradient(135deg, rgba(255, 241, 194, 1) 0%, rgba(255, 254, 244, 1) 30%, rgba(255, 225, 130, 1) 100%);
    }
    20% {
        background: rgb(255, 241, 194);
        background: linear-gradient(135deg, rgba(255, 241, 194, 1) 0%, rgba(255, 254, 244, 1) 30%, rgba(255, 225, 130, 1) 100%);
    }
    10% {
        background: rgb(255, 254, 244);
        background: linear-gradient(135deg, rgba(255, 254, 244, 1) 0%, rgba(255, 225, 130, 1) 100%);
    }
    0% {
        background: rgb(255, 254, 244);
        background: linear-gradient(135deg, rgba(255, 254, 244, 1) 0%, rgba(255, 225, 130, 1) 100%);
    }
}

.informationContainer {
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    padding: 35px 45px;
    border-color: #797979;
}

.informationContainer,
p {
    color: black;
    margin-bottom: 4px;
    margin-top: 4px;
}

#open {
    display: block;
}

@media only screen and (max-width: 700px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 8px;
        margin: 40px 0px 20px 0px;
        width: 90%;
    }
    .profile .profileCard,
    .profile .profileCardNav {
        margin: 15px;
    }
    .profile h1 {
        font-size: 16pt;
    }
    .profile h3 {
        font-size: smaller;
    }
    .profileAvailabilityBar h3 {
        margin: 0px;
    }
    .availabilityBar {
        padding: 4px;
    }
    #navLinks img,
    #navLinksDisabled img {
        width: 17px;
    }
    .tablinks {
        padding: 0% 5%;
        font-size: 8pt;
        margin: 0px;
    }
    .sectionLinks,
    .sectionLinks2,
    .sectionLinks3,
    .sectionLinks4 {
        font-weight: normal;
        font-size: small;
        padding: 8px 15px;
        border-radius: 7px;
    }
    .sectionLinks:hover,
    .sectionLinks2:hover,
    .sectionLinks3:hover,
    .sectionLinks4:hover {
        box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0);
        -webkit-box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0);
        -moz-box-shadow: 0px 7px 22px -13px rgba(55, 0, 123, 0);
    }
    .commissionContent {
        width: 95%;
        height: 100%;
        padding-bottom: 50px;
    }
    .commissionContent,
    h1 {
        margin-bottom: 10px;
    }
    .tablinks:focus {
        box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 7px 22px -13px rgba(0, 0, 0, 0);
    }
    .tabSelector {
        margin: 0px;
        padding: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 8%;
        width: 100%;
        border-radius: 10px;
    }
    .commissionContainer {
        display: flex;
        flex-direction: column;
    }
    .MainContent {
        margin-left: 0px;
    }
    button {
        overflow-y: hidden;
        height: 90%;
        background-color: white;
        border-radius: 15px;
        margin: 2px 4px;
        padding: 7px 20px;
        border-style: none;
        font-weight: normal;
    }
    .informationContainer {
        margin: 20px;
        padding: 25px 35px;
    }
}