.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 260px;
}

.info div {
    margin-bottom: 30px;
}

.info h1,
.info h3 {
    margin: 0px;
    text-align: center;
}