/*
    ==========[ MAIN.CSS OVERVIEW ]==========

    [            NAME           |             DESCRIPTION            ]
    
    ### Overview ###
    - MAIN                      : general formatting
    - Custom Formats            : theme formatting
    - Footer                    : general footer format
    - [mobile format]           : .
    
    - colors are primarily controlled by variables [see Theme Control]
    
    
    ### Custom Formatting ###
    - headerTitle               : Style for headers
    - card                      : Style for cards
    - #toastINFO/WARN/ALERT     : Style for toasts
    - #activeButton             : Style for .active buttons
    - #actionButton             : Style for action buttons
    - #alertButton              : Style for alerting/important action buttons


    [         VARIABLES         |             DESCRIPTION            |          ID'S        ]

    ### Theme Control [look for theme.css] ###
        --backgroundColor       : general background color
        --color                 : general text color
        --links                 : general links color
        --cardElement           : general color for cards

        buttons/color           : accent colors
            --primaryAccent     : active/accent                     : activeButton
            --secondaryAccent   : default accent                    : actionButton
            --tertiaryAccent    : alert/important button            : alertButton
            --defaultButton     : default look
        
        misc/info
            --info              : info color accent                 : toastINFO
            --warning           : warning color accent              : toastWARN
            --alert             : alert color accent                : toastALERT

            --imageInvert       : inverts plain colored images/icons
            --shadow            : inverts general shadow color 

        animation
            --transitionDelay   : sets animation transition
*/



/* Font Package */

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/styles/font-packages/SegoeUI-BoldItalic.woff2') format('woff2'), url('/assets/styles/font-packages/SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/styles/font-packages/SegoeUI-Italic.woff2') format('woff2'), url('/assets/styles/font-packages/SegoeUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/styles/font-packages/SegoeUI-Bold.woff2') format('woff2'), url('/assets/styles/font-packages/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/styles/font-packages/SegoeUI.woff2') format('woff2'), url('/assets/styles/font-packages/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*=======[ Main ]=======*/

:focus-visible {
    border-color: var(--tertiaryAccent);
    outline: solid;
    border-radius: 3px;
    outline-width: 3px;
    transition: 0ms;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color);
    background-color: var(--backgroundColor);
    min-height: 100vh;
    margin: 0%;
    font-family: 'Segoe UI';
    user-select: none;
}


/* Custom Element Formats */

#headerTitle {
    padding: 0px;
    margin: 30px 0px 30px 0px;
    font-size: 24pt;
}

.imgIcons {
    filter: invert(var(--imageInvert));
}

/* 
    ### NOTE ###
    - Toasts ID's needs .card before it can be completed
*/

.card {
    color: var(--color);
    background-color: var(--cardElement);
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 6px 20px -10px var(--shadow);
}

.card.B {
    background-color: var(--cardElementB);
}

.cardDestructable div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: var(--transitionDelay);
}

.cardDestructable.active {
    transform-origin: top;
    animation: opacityOut var(--transitionDelay) cubic-bezier(0, .99, .48, .99) 0s 1 normal both;
}

@keyframes opacityOut {
    0% {
        height: 10%;
        opacity: 1;
        transform: translateY(0px);
    }
    
    100% {
        height: 0%;
        opacity: 0;
        transform: translateY(-100px);
    }
}

.cardDestructable button {
    width: 25px;
    margin: 0px;
    padding: 0px;
}

#toastINFO,
#toastWARN,
#toastALERT {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#toastINFO span,
#toastWARN span,
#toastALERT span {
    margin: 5px;   
}

#toastINFO {
    color: var(--info);
    border-color: var(--info);
    border-left: 5px solid;
    background-color: var(--infoBackground);
}

#toastWARN {
    color: var(--warn);
    border-color: var(--warn);
    border-left: 5px solid;
    background-color: var(--warnBackground);
}

#toastALERT {
    color: var(--alert);
    border-color: var(--alert);
    border: 1px solid;
    background-color: var(--alertBackground);
}

/* links and buttons */

a {
    color: var(--links);
    text-decoration: underline;
    text-decoration-color: #00000000;
    transition: var(--transitionDelay);
    font-weight: bold;
}

a:hover {
    color: var(--linksAccent);
    text-decoration-color: var(--linksAccent);
    animation: linkUnderline var(--transitionDelay);
}

@keyframes linkUnderline {
    0% {
        text-decoration-color: #00000000;
    }
    100% {
        text-decoration-color: var(--linksAccent);
    }
}


/* 
    ### NOTE ###
    - always put buttons inside containers and it must contain
      these attributes;

      .container {
          display: flex;
          flex-direction: row;
      }

      therefore it will always fit and extend onto the walls

*/


/* Action Buttons */

.actionButton {
    color: white;
    background-color: var(--secondaryAccent);
}

.activeButton {
    color: var(--color);
    background-color: var(--primaryAccent);
}

.alertButton {
    color: white;
    background-color: var(--tertiaryAccent);
}

.actionButton:hover,
.activeButton:hover,
.alertButton:hover {
    color: white;
    filter: brightness(110%);
    box-shadow: 0px 6px 20px -10px var(--shadow);
}

.actionButton:active,
.activeButton:active,
.alertButton:active {
    filter: brightness(90%);
    background-color: var(--primaryAccent);
}

.actionButton:focus-visible,
.activeButton:focus-visible,
.alertButton:focus-visible {
    color: white;
    border-color: #00000000;
    box-shadow: 0px 6px 20px -10px var(--shadow);
}

button {
    font-family: 'Segoe UI';
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color);
    border-color: #00000000;
    background-color: var(--defaultButton);
    width: 100%;
    margin: 8px 15px;
    padding: 13px 20px;
    border-style: solid;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--transitionDelay);
}

button:hover {
    color: var(--linksAccent);
}

button:active {
    background-color: var(--primaryAccent);
}

button:focus-visible {
    outline-width: 0px;
    border-radius: 100px;
    color: var(--linksAccent);
    border-color: var(--linksAccent);
    transition: 0ms;
    filter: brightness(110%);
}

#toastINFO button {
    color: var(--info);
}

#toastWARN button {
    color: var(--warn);
}
#toastALERT button {
    color: var(--alert);
}

/*footer*/

footer {
    padding: 150px 50px;
    color: var(--color);
    display: flex;
    user-select: none;
    justify-content: center;
}

footer p {
    text-indent: 0px;
}

.footerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerHeaderContent {
    display: flex;
    flex-direction: row;
}

.footerHeaderContent div {
    display: flex;
}

#footerLogo {
    width: 130px;
    filter: invert(var(--imageInvert));
}

#footerLinks {
    margin: 0px 6px;
}

#footerLinks img {
    height: 100%;
    opacity: 0.3;
    transition: 300ms;
    filter: invert(var(--imageInvert));
}

#footerLinks img:hover {
    opacity: 1;
}

#footerGitLink {
    color: var(--color);
    text-decoration: none;
    font-family: 'Segoe UI';
    font-weight: normal;
    transition: var(--transitionDelay);
}

#footerGitLink:hover {
    color: var(--linksAccent);
}

#footerGitLink:focus-visible {
    transition: 0ms;
    color: var(--links);
}

.footerText {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}

.footerText p {
    margin: 2px;
}


/* google icons */

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 20
}

/* ===[ MOBILE LAYOUT ]=== */

@media only screen and (max-width: 800px) {
    
    /*common*/

    .headerTitle {
        padding: 0px;
        margin: 30px 0px 30px 0px;
        font-size: 24pt;
    }

    /*footer*/

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 0px;
    }
    footer p {
        margin: 0px;
        padding: 0px;
    }
    .footerDiv {
        align-items: center;
    }
    .footerText {
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}