@import "../../../../../index.scss";

$_gap: 15px;

@mixin font-desc {
    font-family: "Poppins";
    font-weight: 400;
    line-height: 13.5pt;
    word-spacing: 0.1pt;
    letter-spacing: -0.1pt;
}

@mixin local-shadow($setshadowcolor) {
    @if ($setshadowcolor == none) {
        box-shadow: $setshadowcolor;
        -webkit-box-shadow: $setshadowcolor;
        -moz-box-shadow: $setshadowcolor;
    }
    @if ($setshadowcolor == unset) {
        box-shadow: $setshadowcolor;
        -webkit-box-shadow: $setshadowcolor;
        -moz-box-shadow: $setshadowcolor;
    }
    box-shadow: 0px 6px 30px -15px $setshadowcolor;
    -webkit-box-shadow: 0px 6px 30px -15px $setshadowcolor;
    -moz-box-shadow: 0px 6px 30px -15px $setshadowcolor;
}

.AboutMeContainer {
    @include wight(100%, 100%);
    display: flex;
    flex-direction: column;
    gap: $_gap;

    div {
        @include wight(100%, 100%);

        display: flex;
        flex-direction: row;
        gap: $_gap;

        div {
            @include card;
            @include flex-center;

            outline-offset: -1px;
            background-color: $tone0;
            overflow: hidden;
        }

        .i1 {
            width: 70%;
        }

        .i2 {
            width: 30%;
        }

        .cardA,
        .cardB,
        .cardC,
        .cardD {
            @include flex-center;
            @include focus-style;

            &:hover {
                transform: translateY(-4px);
            }

            .contentA,
            .contentB,
            .contentC,
            .contentD {
                background-color: #00000000;
                padding: 0px 56px;

                opacity: 0.9;

                &:hover,
                &:focus-visible {
                    opacity: 1;
                }
            }
        }

        .cardA {
            background: linear-gradient(159deg, #af00ff 0%, #ff00a0 100%);

            &:hover,
            &:focus-visible {
                $_setshadowcolor: #ae00ff9f;

                box-shadow: 0px 6px 30px -15px $_setshadowcolor;
                -webkit-box-shadow: 0px 6px 30px -15px $_setshadowcolor;
                -moz-box-shadow: 0px 6px 30px -15px $_setshadowcolor;
            }

            .contentA {
                @include flex-center;

                img {
                    @include transition-anim;
                    
                    $_setshadowcolor: #ff6ac872;

                    box-shadow: 0px 0px 0px 110px $_setshadowcolor;
                    -webkit-box-shadow: 0px 0px 0px 110px $_setshadowcolor;
                    -moz-box-shadow: 0px 0px 0px 110px $_setshadowcolor;

                    outline: 315px solid #ff47bc72;
                    outline-offset: 439px;

                    border-radius: 100%;
                    width: 120px;

                    margin-right: 8px;
                    margin-top: 9.5px;
                }

                .innerContentA {
                    flex-direction: column;
                    align-items: flex-start;

                    background-color: unset;
                    outline: unset;

                    gap: 8px;

                    span {
                        @include font-desc();

                        display: flex;
                        flex-direction: column;

                        gap: 3px;
                    }
                }

                &:hover,
                &:focus-visible {
                    img {
                        $_shadow-color: #ee8bff79;

                        box-shadow: 0px 0px 0px 38px $_shadow-color;
                        -webkit-box-shadow: 0px 0px 0px 38px $_shadow-color;
                        -moz-box-shadow: 0px 0px 0px 38px $_shadow-color;

                        outline: 300px solid #e341ff79;
                        outline-offset: 200px;
                    }
                }
            }
        }

        .cardB {
            background: linear-gradient(10deg, #fe9d0b 0%, #ff0099 100%);

            .contentB {
                @include flex-center;
                @include local-shadow(none);

                flex-direction: column;

                height: max-content;
                padding: 0px 37px;
                background-color: unset;
                gap: 0;
                overflow: visible;

                div {
                    @include local-shadow(none);
                    @include flex-center;

                    flex-direction: column;
                    background-color: unset;
                    overflow: visible;

                    h1 {
                        line-height: 26pt;
                    }

                    span {
                        @include font-desc();
                    }

                    button {
                        margin: 60px 0 0 0;
                        width: 100%;
                    }
                }

                div:nth-child(1) {
                    align-items: flex-start;
                }
            }

            &:hover,
            &:focus-visible {
                @include local-shadow(#fe9d0b91);
            }
        }

        .cardC {
            background: linear-gradient(10deg, #00c8ff 0%, #0066ff 100%);
            cursor: pointer;

            .contentC {
                @include flex-center;

                flex-direction: column;
                background-image: url("../../../../../assets/images/Placeholder.png");
                gap: 0;

                .innerContentC {
                    gap: 0;
                    background-color: unset;

                    span {
                        @include font-desc();
                    }
                }

                .innerContentC:nth-child(1) {
                    height: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                }

                .innerContentC:nth-child(2) {
                    height: 0;

                    span {
                        @include flex-center;
                        gap: 8px;

                        svg {
                            width: 14px;
                        }
                    }
                }
            }

            &:hover,
            &:focus-visible {
                @include local-shadow(#0088ff78);

                .contentC {
                    .innerContentC:nth-child(1) {
                        height: 0;
                    }
                    .innerContentC:nth-child(2) {
                        height: 100%;
                    }

                    // FIXME: add background
                    // background-color: #ffffff;
                }
            }

            &:active {
                transform: translateY(-2px);
                filter: brightness(110%);
            }
        }

        .cardD {
            background: linear-gradient(187deg, #00ff99 0%, #00c3ff 100%);
            cursor: pointer;

            .contentWrapperD {
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url("../../../../../assets/images/gallery-overview.png");
                background-color: unset;
                outline: unset;

                .contentSubWrapperD {
                    outline: unset;
                    background: linear-gradient(187deg, #00351c00 0%, #00c3ff00 100%);

                    .contentD {
                        @include flex-center;

                        outline: unset;
                        background: linear-gradient(187deg, #00ff99 0%, #00c3ff 100%);
                        gap: 0;

                        &:hover,
                        &:focus-visible {
                            opacity: 1;

                            img {
                                $_setshadowcolor: #00ffbb73;


                                outline-offset: 339px;

                                
                                outline-offset: 339px;

                                box-shadow: 0px 0px 0px 150px $_setshadowcolor;
                                -webkit-box-shadow: 0px 0px 0px 150px $_setshadowcolor;
                                -moz-box-shadow: 0px 0px 0px 150px $_setshadowcolor;

                                outline-offset: 339px;
                            }
                            
                            .innerContentD {
                                h1 {
                                    svg {
                                        transform: translate(8px, 4px);
                                    }
                                }
                            }
                        }

                        img {
                            $_setshadowcolor: #00ffbb73;

                            @include wight(100%, 100%);
                            @include max-wight(302px, 302px);
                            @include min-wight(302px, 302px);
                            @include transition-anim;

                            box-shadow: 0px 0px 0px 0px $_setshadowcolor;
                            -webkit-box-shadow: 0px 0px 0px 0px $_setshadowcolor;
                            -moz-box-shadow: 0px 0px 0px 0px $_setshadowcolor;

                            border-radius: 100%;
                            outline: 105px solid #00ffbb73;
                            outline-offset: 49px;
                            mix-blend-mode: color-dodge;
                        }

                        .innerContentD {
                            width: 100%;

                            outline: unset;
                            background-color: unset;
                            text-shadow: 0px 0px 3px #005c4473;

                            h1 {
                                @include flex-center;
                                justify-content: flex-start;

                                svg {
                                    @include transition-anim;
                                    transform: translateY(4px);
                                }
                            }

                            .text {
                                @include font-desc();
                            }
                        }
                    }
                }
            }

            &:active {
                transform: translateY(-2px);
                filter: brightness(110%);
            }

            &:hover,
            &:focus-visible {
                @include local-shadow(#00ffdd78);
            }
        }
    }
}
